.text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    top: 50%;
    left: 50%;
    height: 150px;
    width: 250px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: gainsboro;
}
.text-container p {
    flex: 1;
    text-align: center;
}

.text-container input {
    flex: 1;
    border: 0 solid;
    font-size: 18px;
}

.feedback {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.feedback-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}