.text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 10vh;
    left: 50%;
    height: 15vh;
    width: 75vw;
    border-radius: 20px;
    transform: translateX(-50%);
    background-color: rgb(236, 246, 255);
}

.text-container span {
    flex: 1;
    position: absolute;
    top: -5vh;
    left: 0;
    font-size: 25px;
    font-weight: bold;
    color: rgb(113, 113, 113);
}

.textarea-container {
    width: 90%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textarea-container textarea {
    flex: 2;
    border-style: none;
    font-size: 18px;
    resize: none;
    padding: 0;
    line-height: 30px;
    background-image: linear-gradient(to right, rgb(236, 246, 255) 10px, transparent 10px),
                linear-gradient(to left, rgb(236, 246, 255) 10px, transparent 10px),
                linear-gradient(rgb(236, 246, 255) 30px, black 30px, black 31px, rgb(236, 246, 255) 31px);
    background-size : 100% 100%, 100% 100%, 100% 31px;
}

.textarea-container textarea {
    outline: none;
}

.feedback {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    width: 100%;
    box-sizing: border-box;
    border-top: rgb(113, 113, 113) 1px solid;
}

.feedback-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divide {
    height: 100%;
    width: 1px;
    background-color: rgb(113, 113, 113);
    margin: 0 8px;
}

.family-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
    box-sizing: border-box;
    font-size: 32px;
    cursor: pointer;
}

.family1 {
  font-family: 'ZCOOL KuaiLe', cursive;
    color: rgb(113, 113, 113);
    padding: 0 5px;
}

.family2 {
    font-family: 'Zhi Mang Xing', cursive;
    color: rgb(113, 113, 113);
    padding: 0 5px;
}

.slider-picker {
    width: 100%;
    margin-bottom: 10px;
}

.textFamilyZC {
  font-family: 'ZCOOL KuaiLe', cursive;
}

.textFamilyZh {
    font-family: 'Zhi Mang Xing', cursive;
}