#canvas {
    height: 58vh;
    width: 100vw;
    position: relative;
}

.download {
    position: absolute;
    top: 13vh;
    right: 5vw;
    height: 2.5em;
    width: 9em;
    background-color: white;
    text-align: center;
    line-height: 2.5em;
    font-size: 18px;
    color: rgb(209,81,82);
    font-weight: bold;
    border-radius: 5vw;
    cursor: pointer;
}